<div class="profile-container">
    <h3 class="profile-name"><%= @user.name %></h3>
    <!-- 下記を追加 -->
    <%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', class: "img-circle pull-left profile-img" %>
    <% if @user.id == current_user.id %>
        <p><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
    <% end %>
</div>
<%= render 'post_images/list', post_images: @post_images%>

<!-- 2019.12.11 -->
<h1 class="jquery">Hello jQuery!</h1>